<footer>
  <div id="footer">
    <div class="footer-container">
      <div class="footer-top-wrapper">
        <div class="form-item">
          <h2 class="subheading">Join Our Mailing List!</h2>
        </div>
        <hr class="footer-line" />
        <div class="form-item">
          <p class="info">We’ll send you updates on new kits, special offers, and more!</p>
        </div>
        <div class="form-item">
          <form class="form" method="post">
            <input
              class="subscription-input"
              type="email"
              name="email"
              placeholder="Enter your email address"
              required />
            <button class="footer-button btn-primary bg-lightBlue" type="button">Sign up</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom-wrapper">
        <div class="footer-left">
          <div class="legal-links">
            <span class="legal">Contact</span>
            <span class="legal">Press</span>
            <span class="legal">Legal</span>
          </div>
        </div>
        <div class="footer-center">
            <span class="footer-copyright">©2023 Little Birds Practice</span>
        </div>
        <div class="footer-right">
          <span class="footer-socials">
            <svg class="facebook-icon" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
  <g clip-path="url(#clip0_2189_60784)">
    <path d="M19.0556 0C8.53143 0 0 8.53143 0 19.0556C0 29.5797 8.53143 38.1111 19.0556 38.1111C29.5797 38.1111 38.1111 29.5797 38.1111 19.0556C38.1111 8.53143 29.5797 0 19.0556 0ZM26.3253 9.7042L23.6897 9.70537C21.6229 9.70537 21.2233 10.6875 21.2233 12.1285V15.306H26.1518L26.1495 20.2829H21.2237V33.0547H16.0831V20.2829H11.7858V15.306H16.0831V11.6357C16.0831 7.37621 18.6856 5.0564 22.485 5.0564L26.3257 5.06225V9.7042H26.3253Z" fill="white"/>
  </g>
  <defs>
    <clipPath id="clip0_2189_60784">
      <rect width="38.1111" height="38.1111" fill="white"/>
    </clipPath>
  </defs>
</svg>
          </span>
          <span class="footer-socials">
            <svg class="instagram-icon" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
  <g clip-path="url(#clip0_2189_60780)">
    <path d="M22.7022 19.054C22.7022 21.0683 21.0693 22.7012 19.055 22.7012C17.0406 22.7012 15.4077 21.0683 15.4077 19.054C15.4077 17.0396 17.0406 15.4067 19.055 15.4067C21.0693 15.4067 22.7022 17.0396 22.7022 19.054Z" fill="white"/>
    <path d="M27.5846 12.6011C27.4093 12.126 27.1296 11.6959 26.7662 11.343C26.4132 10.9795 25.9834 10.6998 25.5081 10.5245C25.1225 10.3747 24.5433 10.1965 23.4765 10.148C22.3225 10.0953 21.9765 10.084 19.055 10.084C16.1332 10.084 15.7872 10.095 14.6335 10.1477C13.5667 10.1965 12.9872 10.3747 12.602 10.5245C12.1266 10.6998 11.6965 10.9795 11.3439 11.343C10.9804 11.6959 10.7007 12.1257 10.5251 12.6011C10.3754 12.9866 10.1971 13.5661 10.1486 14.6329C10.0959 15.7866 10.0846 16.1326 10.0846 19.0544C10.0846 21.9759 10.0959 22.3219 10.1486 23.4759C10.1971 24.5427 10.3754 25.1219 10.5251 25.5074C10.7007 25.9828 10.9801 26.4126 11.3436 26.7655C11.6965 27.129 12.1263 27.4087 12.6017 27.584C12.9872 27.7341 13.5667 27.9123 14.6335 27.9608C15.7872 28.0135 16.1329 28.0245 19.0547 28.0245C21.9768 28.0245 22.3228 28.0135 23.4762 27.9608C24.543 27.9123 25.1225 27.7341 25.5081 27.584C26.4623 27.2159 27.2165 26.4617 27.5846 25.5074C27.7344 25.1219 27.9126 24.5427 27.9615 23.4759C28.0141 22.3219 28.0251 21.9759 28.0251 19.0544C28.0251 16.1326 28.0141 15.7866 27.9615 14.6329C27.9129 13.5661 27.7347 12.9866 27.5846 12.6011ZM19.055 24.6727C15.9518 24.6727 13.4361 22.1573 13.4361 19.0541C13.4361 15.9509 15.9518 13.4355 19.055 13.4355C22.158 13.4355 24.6736 15.9509 24.6736 19.0541C24.6736 22.1573 22.158 24.6727 19.055 24.6727ZM24.8957 14.5264C24.1706 14.5264 23.5827 13.9385 23.5827 13.2134C23.5827 12.4882 24.1706 11.9003 24.8957 11.9003C25.6209 11.9003 26.2088 12.4882 26.2088 13.2134C26.2085 13.9385 25.6209 14.5264 24.8957 14.5264Z" fill="white"/>
    <path d="M19.055 -0.000976562C8.53282 -0.000976562 0 8.53185 0 19.054C0 29.5762 8.53282 38.109 19.055 38.109C29.5772 38.109 38.11 29.5762 38.11 19.054C38.11 8.53185 29.5772 -0.000976562 19.055 -0.000976562ZM29.9307 23.5651C29.8778 24.7299 29.6926 25.5251 29.4222 26.2212C28.8538 27.6909 27.6919 28.8528 26.2221 29.4212C25.5264 29.6916 24.7309 29.8766 23.5664 29.9298C22.3996 29.983 22.0268 29.9958 19.0553 29.9958C16.0835 29.9958 15.711 29.983 14.5439 29.9298C13.3794 29.8766 12.5839 29.6916 11.8882 29.4212C11.1578 29.1465 10.4966 28.7159 9.94997 28.1591C9.39346 27.6127 8.96285 26.9513 8.68809 26.2212C8.41768 25.5254 8.23247 24.7299 8.17955 23.5654C8.12576 22.3983 8.11326 22.0256 8.11326 19.054C8.11326 16.0825 8.12576 15.7097 8.17926 14.5429C8.23218 13.3782 8.4171 12.583 8.68751 11.8869C8.96227 11.1568 9.39317 10.4953 9.94997 9.94899C10.4963 9.39219 11.1578 8.96158 11.8879 8.68682C12.5839 8.41642 13.3791 8.23149 14.5439 8.17829C15.7107 8.12508 16.0835 8.11229 19.055 8.11229C22.0265 8.11229 22.3993 8.12508 23.5661 8.17858C24.7309 8.23149 25.5261 8.41642 26.2221 8.68653C26.9522 8.96129 27.6137 9.39219 28.1603 9.94899C28.7168 10.4956 29.1477 11.1568 29.4222 11.8869C29.6929 12.583 29.8778 13.3782 29.931 14.5429C29.9842 15.7097 29.9967 16.0825 29.9967 19.054C29.9967 22.0256 29.9842 22.3983 29.9307 23.5651Z" fill="white"/>
  </g>
  <defs>
    <clipPath id="clip0_2189_60780">
      <rect width="38.11" height="38.11" fill="white" transform="translate(0 -0.000976562)"/>
    </clipPath>
  </defs>
</svg>
          </span>

        </div>
      </div>
    </div>
  </div>
</footer>