<div class="banner-container w-full h-12">
  <div class="wrapper bg-blue flex flex-row content-center items-center">
    <div class="banner-information">1</div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner"
      }
    ]
  }
{% endschema %}