<div class="banner-container">
  <div class="banner-information">1</div>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner"
      }
    ]
  }
{% endschema %}