<div class="card-container">
  <div class="card-grid">
    <div class="card-img">
      <img src="{{ section.settings.card | image_url: width: 500 }}" alt="image">
    </div>
    <div class="card-text">
      <div class="heart"><img src="assets\hearts.png" alt="Small heart"></div>
      <h3 class="card-heading">Introducing</h3>
      <div class="card-logo">Grandma<p class="and-small">&</p>Me: in the kitchen</div>
      <p>{{ section.settings.text }}An activity kit for Grandma and her 4-7-year-old grandchild</p>
      <button>See the Kit</button>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Card",
    "settings": [
      {
        "type": "image_picker",
        "id": "card",
        "label": "Image for Card"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description for Card"
      }
    ]
  }
{% endschema %}