<div class="card-container">
  <div class="card-text">
    <h2>Psi &#936;</h2>
    <h3>Writing</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi minima facere non. Minima repellendus aliquam dolor corrupti, velit quis tenetur inventore totam incidunt a! Cupiditate maxime modi temporibus doloremque.</p>
    <button>Shop Now</button>
  </div>
</div>

{% schema %}
  {
    "name": "Card",
    "settings": [
      {
        "type": "image_picker",
        "id": "card",
        "label": "Image for Card"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description for Card"
      }
    ]
  }
{% endschema %}