<div class="featured-container">
  <div class="featured-section-wrapper">
  <div class="featured-image">
    <img src="{{ section.settings.feature | image_url: width: 800}}" alt="Featured card Image">
  </div>
    <div class="featured-section">
      <div class="heart">
        {% render 'heart' %}
      </div>
      <h3 class="featured-heading">{{ section.settings.headerText }}</h3>
      <p class="featured-text">{{ section.settings.text }}</p>
      <button class="featured-button">Shop Now</button>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured",
    "settings": [
      {
        "type": "image_picker",
        "id": "feature",
        "label": "Image for Featured Card"
      }, {
        "type": "richtext",
        "id": "headerText",
        "label": "Header for Featured Card"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description for Featured Card"
      }
    ]
  }
{% endschema %}