<div class="featured-container">
  <div class="featured-grid">
    <div class="featured-section-img">Omega &#937;</div>
    <div class="featured-section-text">
      <h2>Psi &#936;</h2>
      <h3>Writing</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      <button>Shop Now</button>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description"
      }
    ]
  }
{% endschema %}