<div class="featured-container">
  <div class="featured-section-img">
    <img src="{{ section.settings.feature | image_url: width: 500 }}" alt="Grandparent"></div>
  <div class="featured-section-text">
    <div class="heart"><img src="assets\heart.png" alt="Small heart"></div>
    <h3>Writing</h3>
    <button>Shop Now</button>
  </div>
</div>

{% schema %}
  {
    "name": "Featured",
    "settings": [
      {
        "type": "image_picker",
        "id": "feature",
        "label": "Image for Featured Card"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description for Featured Card"
      }
    ]
  }
{% endschema %}