{% liquid
  assign hero_image = section.settings.hero_image
%}

<div class="hero-container">
  <div class="hero-wrapper">
    <div class="hero-image">
      {% if hero_image %}
        {{ hero_image | image_url: width: 1350 | image_tag: preload: true }}
      {% endif %}
    </div>
    <div class="hero-info">
      <div class="hero-title">Grandma<span class="and">&</span>Me</div>
      <div class="hero-subtitle">activity kit</div>
      <hr/>
      <div class="hero-text">Connect with your grandchild in a fun and meaningful way.
      </div>
      <button>Get A Kit</button>
      <div class="hero-text">No subscription required!</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}