{% liquid
  assign hero_image = section.settings.hero_image
%}

<div class="container mx-auto">
  <div class="wrapper relative items-center justify-center">
    <div class="hero-image">
      {% if hero_image %}
        {{ hero_image | image_url: width: 1800 | image_tag: preload: true }}
      {% endif %}
    </div>
    <div class="hero-info absolute top-0 w-full h-full z-10 bg-transparent inset-0 flex flex-col items-center justify-center text-center">
      <div class="heading text-fontBlue not-italic font-bold text-7xl leading-10">Grandma
        <span class="and text-lightBlue not-italic font-bold text-7xl leading-10">&</span>
        Me</div>
      <div class="hero-subtitle">activity kit</div>
      <hr class="w-72 h-0.5 my-6 text-lightBlue border-solid border-0.55" />
      <div class="hero-text">Connect with your grandchild in a fun and meaningful way.</div>
      <button class="mt-4 bg-lightBlue">Get the Kit</button>
      <div class="hero-text mt-2">No subscription required!</div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}