{% liquid
  assign hero_image = section.settings.hero_image
%}

<div class="hero-container">
  <div class="hero-image">
    {% if hero_image %}
      {{ hero_image | image_url: width: 1350 | image_tag: preload: true }}
    {% endif %}
  </div>
  <div class="hero-grid">
    <div class="grid-item">Omega &#937;</div>
    <div class="grid-item">Psi &#936;</div>
    <div class="grid-item">Sigma &#931;</div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}