<!-- main stuff -->
{% liquid
  assign background_image = section.settings.background_image
%}

{% if background_image %}
  {{ background_image | image_url: width: 2500 | image_tag: preload: true, class: "hero__background-image" }}
{% endif %}

<main>
  <div class="main-container">
    <div class="hero-image">
      Main Section
    </div>
  </div>
</main>

{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "text",
        "label": "Header",
        "id": "header"
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}