<div class="max-width-container">
  <div class="max-width-grid">
    <div class="max-width-img"><img src="{{ section.settings.maxWidthCards | image_url: width: 500 }}" alt="Grandparent"></div>
    <div class="max-width-text">
      <div class="heart"><img src="assets\heart.png" alt="Small heart"></div>
      <h3>Writing</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      <button>Shop Now</button>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Max Width Cards",
    "settings": [
      {
        "type": "image_picker",
        "id": "maxWidthCards",
        "label": "Image for Max Width Card"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Description for Max Width Card"
      }
    ]
  }
{% endschema %}