<div class="max-width-container">
  <div class="max-width-wrapper">
    <div class="max-width-img"><img src="{{ section.settings.maxWidthCards | image_url: width: 500 }}" alt="Grandparent"></div>
    <div class="max-width-text">
      <div class="heart"><img src="assets\hearts.png" alt="Small heart"></div>
      <h3 class="card-heading">{{ section.settings.header }}</h3>
      <ul>
        <li class="bulletpoint"><img src="assets\heart.png">Develop your grandchild’s literacy and social-emotional skills</li>
        <li class="bulletpoint"><img src="assets\heart.png"> Encourage the lost art of conversation</li>
        <li class="bulletpoint"><img src="assets\heart.png"> Strengthen intergenerational connections</li>
      </ul>
      <button>Shop Now</button>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Max Width Cards",
    "settings": [
      {
        "type": "image_picker",
        "id": "maxWidthCards",
        "label": "Image for Max Width Card"
      }, {
        "type": "richtext",
        "id": "header",
        "label": "Header for Max Width Card"
      }
    ]
  }
{% endschema %}