<div class="max-width-container">
  <div class="max-width-wrapper">
    <div class="max-width-img">
      <img src="{{ section.settings.maxWidthCards |  image_url: width: 900 }}" alt="Grandparent">
    </div>
    <div class="bulletpoint-container">
      <div class="bulletpoint-title">
        <div class="heart">
          {% render 'hearts' %}
        </div>
        <h3 class="max-heading">{{ section.settings.header }}</h3>
        <hr class="line" />
        <div class="bulletpoint-section">
          <div class="point">
            <img class="bulletpoint" src="assets\bulletpointsvg.svg" alt="Heart Shaped Bulletpoint">
            Develop your grandchild’s literacy and social-emotional skills
          </div>
          <div class="point">
            <img class="bulletpoint" src="assets\bulletpointsvg.svg" alt="Heart Shaped Bulletpoint">
             Encourage the lost art of conversation
          </div>
          <div class="point">
            <img class="bulletpoint" src="assets\bulletpointsvg.svg" alt="Heart Shaped Bulletpoint">
            Strengthen intergenerational connections
          </div>
        </div>
        {% render 'plus' %}
      </div>
      <div class="max-text-extra">
        <span class="research">Research</span>
        shows that these connections are mutually beneficial; contributing to both a child’s sense of self and an adult’s sense of purpose.
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Max Width Cards",
    "settings": [
      {
        "type": "image_picker",
        "id": "maxWidthCards",
        "label": "Image for Max Width Card"
      }, {
        "type": "richtext",
        "id": "header",
        "label": "Header for Max Width Card"
      }
    ]
  }
{% endschema %}