<div class="sponsor-container">
  <div class="sponsor"><img
      class="prop"
      src="assets\book1.png"
      alt="props"></div>
  <div class="sponsor"><img
      class="prop"
      src="assets\family1.png"
      alt="props"></div>
  <div class="sponsor"><img
      class="prop"
      src="assets\grandmother1.png"
      alt="props"></div>
</div>



{% schema %}
  {

    "name": "Sponsors",
    "settings": [
      {
        "type": "image_picker",
        "id": "sponsors",
        "label": "Images for Sponsors"
      }
    ]
  }
{% endschema %}