<div class="sponsor-container">
  <div class="sponsor-bg">
    <img src="assets\hearts2.png" alt="Hearts Background">
  </div>
  <div class="prop-container">
    <div class="sponsor"><img
        class="prop"
        src="assets\book1.png"
        alt="props">
    </div>
    <div class="prop-message">Develop Literacy Skills</div>
  </div>

  <div class="prop-container">
    <div class="sponsor"><img
        class="prop"
        src="assets\family1.png"
        alt="props">
    </div>
    <div class="prop-message">Share Family History</div>
  </div>

  <div class="prop-container">
    <div class="sponsor"><img
        class="prop"
        src="assets\grandmother1.png"
        alt="props">
    </div>
    <div class="prop-message">Nurture Intergenerational Bonds</div>
  </div>
  <div class="sponsor-bg">
    <img src="assets\hearts2.png" alt="Hearts Background">
  </div>
</div>



{% schema %}
  {

    "name": "Sponsors",
    "settings": [
      {
        "type": "image_picker",
        "id": "sponsors",
        "label": "Images for Sponsors"
      }
    ]
  }
{% endschema %}