<div class="test-container">
  <div class="test-wrapper">
    <div class="test-image"></div>
    <div class="test-quotes"><img src="assets\quotes.png" alt="Quotes"></div>
    <div class="test-rating"><img src="assets\stars.png" alt="*****"></div>
    <div class="test-comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, dicta asperiores. Perferendis in quia.</div>
    <div class="test-author">Jason O'Neill</div>
  </div>
  <div class="test-wrapper">
    <div class="test-image"></div>
    <div class="test-quotes"><img src="assets\quotes.png" alt="Quotes"></div>
    <div class="test-rating"><img src="assets\stars.png" alt="*****"></div>
    <div class="test-comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, dicta asperiores. Perferendis in quia.</div>
    <div class="test-author">Jamie Pask</div>
  </div>
  <div class="test-wrapper">
    <div class="test-image"></div>
    <div class="test-quotes"><img src="assets\quotes.png" alt="Quotes"></div>
    <div class="test-rating"><img src="assets\stars.png" alt="*****"></div>
    <div class="test-comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, dicta asperiores. Perferendis in quia.</div>
    <div class="test-author">Stephanie Roberts</div>
  </div>



{% schema %}
  {

    "name": "Testimonials",
    "settings": [
      {
        "type": "richtext",
        "id": "testimonials",
        "label": "Testimonials"
      }
    ]
  }
{% endschema %}