@media only screen and (min-width: 600px) and (max-width: 1000px)   {
  .card-wrapper,
  .max-width-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.card-logo {
  padding-left: 3rem;
}

}

/* ------------------------------------------ */

.card-container {
  max-width: 1580px;
  display: flex;
  flex-direction: column;
  padding: 2.69rem 9rem;
}

.card-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
} 

.card-logo {
  color:#262262;
  font-family: Rockwell;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: flex;
}

.card-heading {
  color: #262262;
  font-family: Rockwell;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.and-small {
  color: #00B4CD;
  font-family: Rockwell;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.card-extra-text {
  color: #262262;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.2px;
}

.line {
  width: 10rem;
  color: #00B4CD;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* ------------------------------------------------------ */
.max-width-container {
  width: 100%;
}

.max-width-wrapper {
  display: flex;
 /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.bulletpoint-container {
  padding: 1.6rem;
}

.max-width-img img {
  width: 100%;
  height: 100%;
}

.max-heading {
  color:#262262;
  font-family: Rockwell;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}

.max-text-extra {
  color: #383838;
  font-family: Lato;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
}

.research {
  color: #CE202F;
  font-family: Lato;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
}

.bulletpoint-section {
  padding: 2rem 0 2rem 1rem;
}

.bulletpoint-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

.point {
  color: #383838;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
}

.point img {
  display: inline;
  padding-right: 0.5rem;
}

.heart {
  padding-top: 1rem;
}