.card-container {
    background-color: darkgrey;
    height: 100vh;
    max-width: 100vw;
    position: relative;
    margin: 10%;
}

.card-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;

} 