@media (max-width: 768px) {
  .featured-container {
    flex-direction: column;
  }

  .featured-section-wrapper {
    padding-bottom: 0; 
    margin-bottom: 0;
  }
}


/* -------------------------------------- */
.featured-container {
  max-width: 1580px;
  margin-bottom: 5rem;
}


  .featured-section-wrapper {
    display: flex;
    padding-bottom: 11rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat
  }


  .featured-section {
    background-color: transparent;
    width: 50%;
    background-image: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0));
    padding: 3rem;
    margin-top: 7rem;
    padding-left: 0;
    top: 1.25rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

  }

.featured-heading {
    color: #262262;
    font-family: Rockwell;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;
}

.featured-text {
    color: #383838;
    font-family: 'Rockwell' ;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.featured-button {
  color: #FFF;
  text-align: center;
  font-family: Atten Round New;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.4rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  border-radius: 8px;
  background: #00B4CD;
}

.heart,
.featured-heading,
.featured-text {
  padding-top: 1rem;
}