@media screen and (max-width: 768px) {
    header {
    position: static;
    width: 100%;
    background-color: aliceblue;
    }

    .logo-grid {
        display: flex;
        flex-direction: column;
    }

    .slogan,
    .btn,
    .main-btn,
    nav {
        display: none;
    }

}

/* ------------------------------------- */

footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #37309A;
    z-index: 2;
}

.footer-links {
    width: 100%;
    background-color: #262262;
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
}

.footer-item {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.subheading {
    color: #FFF;
    font-family: Rockwell;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.info {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.9px;
}

.subscription-input {
    border-radius: 8px;
    height: 42px;
    border: none;
}