footer {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: aquamarine;
    z-index: 2;
}

.footer-links {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    padding: 15px;
}

.footer-item {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}