@media screen and (max-width: 1100px)  {
   #footer {
    position: static;
    background-color: aliceblue;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .footer-top-wrapper {
        display: flex;
        background-color: #311986;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-bottom-wrapper {
        display: flex;
        background-color: #262262;
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
    }

    .footer-right {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer-copyright {
        padding-right: 5rem;
    }

    .footer-socials {
        padding-left: 1rem;
        padding-right: 2rem;
    }

}

/* ------------------------------------- */

#footer {
    position: relative;
    width: 100%;
    background-color: #311986;
    z-index: 2;
}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer-top-wrapper {
    background-color: #311986;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom-wrapper {
    display: flex;
    width: 100%;
    background-color: #262262;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer-item {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.8rem;
}

.subheading {
    color: #FFF;
    font-family: Rockwell;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.info {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.9px;
}

.subscription-input {
    border-radius: 8px 0 0 8px;
    height: 2.25rem;
    border: none;
    padding-left: 2rem;
    padding-right: 7rem;
}

.footer-line {
    width: 10rem;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .footer-button {
    margin-left: -1rem;
    height: 2.3rem;
    text-transform: uppercase;
    border-radius: 8px;
    background: #00B4CD;
    width: 10rem;
    flex-shrink: 0;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Atten Round New;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

  .footer-right {
    display: flex;
  }

  .footer-center {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

.footer-center {
    justify-content: space-between;
}

.footer-copyright {
    padding-right: 5rem;
}

.footer-socials {
    padding-left: 1rem;
    padding-right: 2rem;
}

  .legal {
    padding-left: 1rem;
    padding-right: 1rem;

  }

/* ---------------------- Hover Effects ------- */

.legal:hover {
    cursor: pointer;
}

.facebook-icon:hover,
.instagram-icon:hover {
    cursor: pointer;
}