/*
<div class="hamburger">
<svg
  class="menu flex-1 hidden"
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none">
  <g clip-path="url(#clip0_449_50969)">
    <path d="M18.0645 0.967773H1.93548C0.870968 0.967773 0 1.83874 0 2.90326C0 3.96777 0.870968 4.83874 1.93548 4.83874H18.0645C19.129 4.83874 20 3.96777 20 2.90326C20 1.83874 19.129 0.967773 18.0645 0.967773Z" fill="#262262" />
    <path d="M18.0645 8.06445H1.93548C0.870968 8.06445 0 8.93542 0 9.99994C0 11.0645 0.870968 11.9354 1.93548 11.9354H18.0645C19.129 11.9354 20 11.0645 20 9.99994C20 8.93542 19.129 8.06445 18.0645 8.06445Z" fill="#262262" />
    <path d="M18.0645 15.1614H1.93548C0.870968 15.1614 0 16.0323 0 17.0969C0 18.1614 0.870968 19.0323 1.93548 19.0323H18.0645C19.129 19.0323 20 18.1614 20 17.0969C20 16.0323 19.129 15.1614 18.0645 15.1614Z" fill="#262262" />
  </g>
  <defs>
    <clipPath id="clip0_449_50969">
      <rect
        width="20"
        height="20"
        fill="white" />
    </clipPath>
  </defs>
</svg>
</div>
*/




@media screen and (max-width: 768px) {
    #header {
    position: static;
    width: 100%;
    background-color: aliceblue;
    height: auto;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu {
        display: flex;
        order: 1;
    }

    .main-btn,
    .user-icon,
    .email-icon,
    nav {
        display: none;
    }
    
}

/* -------------------------------------------------- */
#header {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 99;
    background-color: #fff;
    width: 100%;
}

.logo-container {
    z-index: 99;
    max-width: 100%;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: none;
}

.logo,
.slogan,
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon,
.email-icon,
.user-icon {
    padding: 1rem;
}

.header-btn {
    max-width: 30%;
    text-transform: uppercase;
    font-family: Atten Round New;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
}

.navbar {
    background-color: #262262;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .nav-item {
    text-align: center;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 80%;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    padding: 1rem;
  }
  

a {
    text-decoration: none;
    color: #fff;
}

.main-btn {
    align-items: center;
    margin-left: 3.75rem;
}
