@media screen and (max-width: 768px) {
    #header {
    position: static;
    width: 100%;
    background-color: aliceblue;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
    }


    .main-btn,
    nav {
        display: none;
    }
    
      .logo-container {
        grid-column: 2;
        justify-content: center;
      }
}

/* -------------------------------------------------- */
#header {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    z-index: 2;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 95px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    display: flex;
    padding-left: 5rem;
}

.button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.navbar {
    background-color: #262262;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .nav-item {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    padding: 1rem;
  }
  

a {
    text-decoration: none;
    color: #fff;
}

.main-btn {
    align-items: center;
    margin-left: 60px;
}
