@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  
  .hero-info {
    order: 1;
    text-align: center;
    background: linear-gradient(180deg, #F1F1F2 3.13%, rgba(241, 241, 242, 0.62) 15.63%, rgba(241, 241, 242, 0.00) 29.69%);
  }

  .hero-image img {
    order: 2;
    z-index: 2;
  }

}

/* -------------------------------------------- */
.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 120px;
}

.hamburger {
  display: none;
}

.hero-info {
  text-align: center;
}

.grid-item-title,
.grid-item-subtitle {
  text-align: center;
  font-family: Rockwell;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  color: #015A6B;
  display: block;
}

.grid-item-subtitle {
  font-size: 65px;
  padding-bottom: 65px;
}

.grid-item-text {
  color: #262262;
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 1.25px;
  padding-bottom: 27px;
  padding-top: 27px;
}


.and {
    color: #00B4CD;
    font-family: Rockwell;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    display: inline-block;
}

.hero-image {
  flex: 1;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8799999952316284;
  background: radial-gradient(256.64% 53.44% at 50.00% 50.00%, #FFF 6.76%, rgba(255, 255, 255, 0.00) 100%);
  position: absolute;
}
