@media screen and (max-width: 768px) {
  .hero-container {
    padding-top: 0;
    flex-direction: column;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-info {
    order: 2;
    flex: 1;
    text-align: center;
    background: linear-gradient(180deg, #F1F1F2 3.13%, rgba(241, 241, 242, 0.62) 15.63%, rgba(241, 241, 242, 0.00) 29.69%);
  }

  .hero-image {
    order: 1;
    flex: 1;
    width: 100%;
  }

}

/* -------------------------------------------- */
/*
.hero-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  width: 100%;

}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  width: 100%;
  padding-bottom: 8.94rem;
  object-fit: cover;
  opacity: 0.8799999952316284;
  background: radial-gradient(256.64% 53.44% at 50.00% 50.00%, #FFF 6.76%, rgba(255, 255, 255, 0.00) 100%);
  position: absolute;
}

.hero-info {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 7.38rem;
  padding-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: .88;
  background: radial-gradient(256.64% 53.44% at 50% 50%,#FFF 6.76%,rgba(255,255,255,0) 100%);
  align-content: center;
  flex-wrap: wrap;
}

.hero-title,
.hero-subtitle {
  text-align: center;
  font-family: Rockwell;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  color: #015A6B;
  display: block;
}

hr {
  width: 18.75rem;
  height: 0.1875rem;
  border: 0.18rem solid;
  margin-bottom: 1.56rem;
  color: #00B4CD;
}

.hero-subtitle {
  font-size: 65px;
  padding-bottom: 65px;
}

.hero-text {
  color: #262262;
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 1.25px;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 50%;
}


.and {
    color: #00B4CD;
    font-family: Rockwell;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    display: inline-block;
}

*/