

/* ------------------------------------ */
.sponsor-container {
    max-width: 1536px;
    
}

.prop-container {
    position: relative;
    width: 100vw;
    display: flex;
    background-color: #262262;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.prop-wrapper {
    width: 20rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sponsor {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.svg-bg {
    background-color: #00b4cd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heart-bg {
    position: absolute;
    left: 0;
}

.prop-message {
    color: #FFF;
    padding-top: 1rem;
    text-align: center;
    font-family: Rockwell;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
}