@media screen and (max-width: 1100px)  {

.prop-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #262262;
    align-content: center;
    justify-content: center;
    }

.bg-wrapper {
z-index: -2;
position: absolute;
visibility: hidden;
    }

}
/* ------------------------------------ */

.prop-container {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #262262;
    justify-content: center;
}

.prop-wrapper {
    width: 20rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sponsor {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.svg-bg {
    background-color: #00b4cd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue-heart-bg-left {
    left: 0;
    position: absolute;
    top: 0;
}

.blue-heart-bg-right {
    transform: scaleX(-1);
    position: absolute;
    right: 0;
}

.prop-message {
    color: #FFF;
    padding-top: 1rem;
    text-align: center;
    font-family: Rockwell;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
}

.bg-wrapper {
    bottom: 0;
    right: 0;
}