

/* ------------------------------------ */
.sponsor-container {
    background-color: #262262;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.prop-container {
    padding-top: 68px;
    padding-bottom: 68px;
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.svg-bg {
    background-color: #00b4cd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.prop-message {
    color: #FFF;
    text-align: center;
    font-family: Rockwell;
    font-size: 80%;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 9px;
}